@import '_common.scss';

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content:center;
}

/*variables*/
$colorMain: #4dccc6;

/* btns */
.btn {
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background-color: $colorMain;
    background-image: linear-gradient(315deg, $colorMain 0%, #96e4df 74%);
    padding: 0;
    border: none;  
}

.btn:hover {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.btn {
    &-next,
    &-add {
        width: 300px;
        height: 60px;
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.filter {
    max-width: 400px;

    &__list {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;

        &-btn {
            padding: 10px 20px;
            margin-right: 20px;
            margin-bottom: 10px;
        }
    }

    &-active {
        background-color: #005f4f;
        background-image: none;
    }

    &-active:hover {
        background-color: #005f4f;
        background-image: linear-gradient(315deg, #005f4f 0%, #03c8a8 74%);
    }

}

.category {
    @include flexCenter();

    &__text {
        margin-right: 10px;
        font-size: 20px;
    }

    &__select {
        font-family: 'OpenSans';
        font-size: 20px; 
    }
}

.activity {
    @include flexCenter();
    margin-bottom: 30px;

    &__name {
        width: 800px;
        padding: 10px 30px;
        font-size: 36px;
        border-bottom: 1px solid black;
        margin-right: 30px;
    }

    &__btn-copy,
    &__btn-done {
        width: 70px;
        height: 40px;
        font-size: 14px;
        opacity: 0.5;
        cursor: default;
    }
}

.btn-active {
    width: 80px;
    top: 2px;
    background-color: green;
    background-image: none;
    transition: all 0.1s ease;
}

.top {
    margin-bottom: 50px;

    &__block {
        @include flexCenter();
        margin-bottom: 15px;
    }

    &__title {
        font-size: 50px;
        margin: 0;
        margin-right: 20px;
        border-bottom: 2px solid #F4E660;
    }

    &__icon {
        width: 70px;
    }

    &__list {
        margin: 0 auto 40px;
        counter-reset: list;
        width: 50%;

        &-no-activities {
            font-size: 22px;
            list-style-type: none;
        }

        &-item {
            font-size: 22px;
            margin-bottom: 18px;
            position: relative;
            display: block;
            padding: .4em .4em .4em 2em;
            margin: .5em 0;
            background: #e7e6e6;
            color: #444;
            text-decoration: none;
            border-radius: .3em;
            transition: .3s ease-out;

            &:before {
                counter-increment: list;
                content: counter(list);
                position: absolute;
                left: -1.3em;
                top: 50%;
                margin-top: -1.3em;
                background: $colorMain;
                height: 2em;
                width: 2em;
                line-height: 2em;
                border: .3em solid white;
                text-align: center;
                font-weight: bold;
                border-radius: 2em;
                transition: all .3s ease-out;
            }
        }
        
        &-item:hover {
            background: #c4c4c4;

            &:before {
                transform: rotate(360deg);
            }
        }
    }
}

.history {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;

    &__caption {
        font-size: 20px;
        margin-bottom: 20px;
        text-decoration: underline $colorMain;
    }

    &__table,
    &__th,
    &__tr,
    &__td {
        border: 1px solid grey;
    }

    &__table {
        border-collapse: collapse;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    &__th,
    &__td {
        padding: 5px 10px;
    }

    &__clear {
        padding: 10px;
    }
}

.diagram {
    max-width: 40%;
    margin-left: auto;
}

.my-actions {
    &__input {
        padding: 10px;
        font-size: 12px;
    }

    &__btn {
        padding: 10px;
    }
}
